openapi: 3.2.0
info:
  title: Listrak Two-Way SMS Messagestream API
  description: '# Introduction


    Welcome to the Listrak Two-Way SMS REST API!'
  version: v1
  x-logo:
    url: https://api.listrak.com/Email/Resources/Images/Logo.png
    altText: Listrak
    href: https://www.listrak.com
    backgroundColor: '#fafafa'
servers:
- url: https://api.listrak.com/twowaysms
tags:
- name: Messagestream
paths:
  /messagestream/{phoneId}:
    get:
      operationId: getMessageStream
      parameters:
      - name: batchSize
        in: query
        schema:
          type: string
      - name: earliestDateTime
        in: query
        schema:
          type: string
      - name: phoneId
        in: path
        required: true
        schema:
          type: string
      responses:
        '404':
          description: 404 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '200':
          description: 200 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '429':
          description: 429 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
      tags:
      - Messagestream
      summary: Get message stream
      x-summary-source: derived
components:
  securitySchemes:
    Authorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
