openapi: 3.2.0
info:
  title: Listrak Customer API
  version: v1
  x-logo:
    url: /Data/Documentation/Images/Logo.png
  description: 'Operations tagged Customer across 2 of this provider''s published API definitions: listrak-data-openapi.json, listrak-data-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/data
tags:
- name: Customer
  description: 'The Customer resource is used to import customer data.

    '
paths:
  /v1/Customer:
    post:
      tags:
      - Customer
      summary: Start a Customer Import
      description: Starts a new import using the supplied customer collection.
      operationId: Customer_PostCustomerCollection
      responses:
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
              example:
                status: 201
                resourceId: '{ResourceId}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - Customer
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/data/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.PostAsJsonAsync("v1/Customer", new

          []);

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/data/'\n]);\n\n$res = $client->request('POST', 'v1/Customer',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n\t'body' => $jsonBody\n]);\n"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Customer'
        description: An array of one or more customers to create.
        required: true
    servers:
    - url: https://api.listrak.com/data
components:
  schemas:
    ResourceCreated:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        resourceId:
          description: An identifier used to locate a resource.
          type: string
    Address:
      description: Address of customer
      type: object
      properties:
        address1:
          description: Home address line 1
          maxLength: 100
          minLength: 0
          type: string
        address2:
          description: Home address line 2
          maxLength: 100
          minLength: 0
          type: string
        address3:
          description: Home address line 3
          maxLength: 100
          minLength: 0
          type: string
        city:
          description: Home address city
          maxLength: 100
          minLength: 0
          type: string
        country:
          description: Home address country
          maxLength: 100
          minLength: 0
          type: string
        state:
          description: Home address state
          maxLength: 100
          minLength: 0
          type: string
    Social:
      description: Social data for a Customer
      type: object
      properties:
        facebookID:
          description: Facebook ID
          maxLength: 100
          minLength: 0
          type: string
        facebookNumberOfFriends:
          format: int32
          description: Number of Facebook friends
          type: integer
        instagramID:
          description: Instagram ID
          maxLength: 100
          minLength: 0
          type: string
        instagramNumberOfFollowers:
          format: int32
          description: Number of Instagram followers
          type: integer
        twitterID:
          description: Twitter ID
          maxLength: 100
          minLength: 0
          type: string
        twitterNumberOfFollowers:
          format: int32
          description: Number of Twitter followers
          type: integer
    Loyalty:
      description: Loyalty data for a Customer (This data will only be imported into Listrak if there is an active loyalty integration setup for your account.)
      type: object
      properties:
        activeLoyaltyMember:
          description: Whether customer is an active loyalty member
          type: boolean
        availablePoints:
          format: int32
          description: Available points
          type: integer
        currentTierLevel:
          description: Current tier level
          maxLength: 100
          minLength: 0
          type: string
        enrollDate:
          format: date-time
          description: Enrollment date/time
          type: string
        expiringPoints:
          format: int32
          description: Expiring points
          type: integer
        lastActivityDate:
          format: date-time
          description: Last activity date
          type: string
        lastPointEarnedDate:
          format: date-time
          description: Last date points were earned
          type: string
        lastPointRedemptionDate:
          format: date-time
          description: Last date points were redeemed
          type: string
        lifetimePoints:
          format: int32
          description: Lifetime points
          type: integer
        loyaltySignUpSource:
          description: Sign-up source
          maxLength: 100
          minLength: 0
          type: string
        monthlyPoints:
          format: int32
          description: Monthly points
          type: integer
        nextTierLevel:
          description: Next tier level
          maxLength: 100
          minLength: 0
          type: string
        numberOfReferrals:
          format: int32
          description: Number of referrals
          type: integer
        pendingPoints:
          format: int32
          description: Pending points
          type: integer
        personOfReferred:
          description: Referrer of this customer
          maxLength: 250
          minLength: 0
          type: string
        pointExpirationDate:
          format: date-time
          description: Points expiration date
          type: string
        pointsToNext:
          format: int32
          description: Points to next milestone
          type: integer
        referralCode:
          description: Referral code
          maxLength: 100
          minLength: 0
          type: string
        referralUrl:
          description: Referral URL
          maxLength: 250
          minLength: 0
          type: string
        rewardsAvailable:
          description: Rewards available
          maxLength: 250
          minLength: 0
          type: string
        rewardsClaimed:
          description: Rewards claimed
          maxLength: 250
          minLength: 0
          type: string
        rewardsID:
          description: Rewards ID
          maxLength: 250
          minLength: 0
          type: string
        spentPoints:
          format: int32
          description: Spent points
          type: integer
        tierID:
          description: Tier ID
          maxLength: 100
          minLength: 0
          type: string
        weeklyPoints:
          format: int32
          description: Weekly points
          type: integer
    Customer:
      description: Customer for the order - DEPRECATED - Please use the BillingAddress and/or ShippingAddress fields instead.
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
          description: Address of customer
        birthday:
          format: date-time
          description: Customer birthdate
          type: string
        customerNumber:
          description: Internal customer number
          maxLength: 20
          minLength: 0
          type: string
        email:
          description: Email address of customer. This property is required for accounts that are not CRM enabled.
          maxLength: 100
          minLength: 0
          type: string
        firstName:
          description: First name
          maxLength: 50
          minLength: 0
          type: string
        gender:
          description: Gender of customer (M/F, Male/Female)
          maxLength: 50
          minLength: 0
          type: string
        homePhone:
          description: Landline phone number
          maxLength: 50
          minLength: 0
          type: string
        lastName:
          description: Last name
          maxLength: 50
          minLength: 0
          type: string
        loyalty:
          $ref: '#/components/schemas/Loyalty'
          description: Loyalty data
        meta1:
          description: Additional meta information
          maxLength: 250
          minLength: 0
          type: string
        meta2:
          description: Additional meta information
          maxLength: 250
          minLength: 0
          type: string
        meta3:
          description: Additional meta information
          maxLength: 250
          minLength: 0
          type: string
        meta4:
          description: Additional meta information
          maxLength: 250
          minLength: 0
          type: string
        meta5:
          description: Additional meta information
          maxLength: 250
          minLength: 0
          type: string
        mobilePhone:
          description: Mobile phone number
          maxLength: 50
          minLength: 0
          type: string
        preferredStoreNumber:
          description: Preferred brick and mortar store location
          maxLength: 100
          minLength: 0
          type: string
        registered:
          description: Indicates the customer registration state
          type: boolean
        social:
          $ref: '#/components/schemas/Social'
          description: Social data
        workPhone:
          description: Work phone number
          maxLength: 50
          minLength: 0
          type: string
        zipCode:
          description: Customer ZIP Code
          maxLength: 20
          minLength: 0
          type: string
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes: {}
x-refined-from:
- listrak-data-openapi.json
- listrak-data-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
