openapi: 3.2.0
info:
  title: Listrak Send API
  version: v1
  x-logo:
    url: https://api.listrak.com/Email/Resources/Images/Logo.png
    altText: Listrak
    href: https://www.listrak.com
    backgroundColor: '#fafafa'
  description: 'Operations tagged Send across 2 of this provider''s published API definitions: listrak-twowaysms-openapi.json, listrak-twowaysms-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/twowaysms
tags:
- name: Send
paths:
  /send:
    post:
      operationId: send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRequest'
        required: true
      responses:
        '429':
          description: 429 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '202':
          description: 202 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
      tags:
      - Send
    servers:
    - url: https://api.listrak.com/twowaysms
components:
  schemas:
    integrationType:
      enum:
      - gorgias
      - custom
      type: string
      description: Integration Type
    SendRequest:
      type: object
      properties:
        integrationType:
          $ref: '#/components/schemas/integrationType'
        phoneId:
          type: integer
          description: Numeric ID. Phone Id
          format: int64
        externalTicketId:
          type: string
          description: A unique ticket identifier.
        messageBody:
          type: string
          description: Body of a message, limited to 1,000 characters.
      description: A request for sending a message to a contact
  securitySchemes:
    Authorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
x-refined-from:
- listrak-twowaysms-openapi.json
- listrak-twowaysms-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
