openapi: 3.2.0
info:
  title: Listrak Message Summary API
  version: v1
  x-logo:
    url: /Email/Resources/Images/Logo.png
  description: 'Operations tagged MessageSummary across 2 of this provider''s published API definitions: listrak-email-openapi.json, listrak-email-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/email
tags:
- name: MessageSummary
  description: 'The Message Summary resource allows you to access an aggregated summary of contact activity for a message.

    '
paths:
  /v1/List/{listId}/Message/{messageId}/Summary:
    get:
      tags:
      - MessageSummary
      summary: Get Message Summary
      description: Returns a summary of the specified message.
      operationId: MessageSummary_GetMessageSummaryResource
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      - name: messageId
        in: path
        description: Identifier used to locate the message.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource_MessageSummary'
              example:
                status: 200
                data:
                  averageOrderValue: 0.0
                  bounceCount: 0
                  clickCount: 0
                  conversionCount: 0
                  openCount: 0
                  passAlongCount: 0
                  readCount: 0
                  revenue: 0.0
                  sentCount: 0
                  unsubscribeCount: 0
                  visitCount: 0
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId and messageId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - List
        - Message
        - Report
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/email/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/List/{listId}/Message/{messageId}/Summary");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('GET', 'v1/List/{listId}/Message/{messageId}/Summary',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/email
components:
  schemas:
    Resource_MessageSummary:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        data:
          $ref: '#/components/schemas/MessageSummary'
          description: Return data.
    MessageSummary:
      description: A Message Summary resource.
      type: object
      properties:
        averageOrderValue:
          format: double
          description: Average order value associated with the message.
          type: number
        bounceCount:
          format: int32
          description: The number of bounces for the message.
          type: integer
        clickCount:
          format: int32
          description: The number of clicks for the message.
          type: integer
        conversionCount:
          format: int32
          description: The number of conversions for the message.
          type: integer
        openCount:
          format: int32
          description: The number of opens for the message.
          type: integer
        passAlongCount:
          format: int32
          description: The number of passalongs for the message.
          type: integer
        readCount:
          format: int32
          description: The number of reads for the message.
          type: integer
        revenue:
          format: double
          description: Total revenue associated with the message.
          type: number
        sentCount:
          format: int32
          description: The number of times the message was sent.
          type: integer
        unsubscribeCount:
          format: int32
          description: The number of unsubscribes for the message.
          type: integer
        visitCount:
          format: int32
          description: The number of site visits as a result of the message.
          type: integer
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes:
            Contact: Contact access
            Event: Event access
            List: List access
            Message: Message access
            Report: Report access
            Segmentation: Segmentation access
x-refined-from:
- listrak-email-openapi.json
- listrak-email-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
