openapi: 3.2.0
info:
  title: Listrak Review API
  version: v1
  x-logo:
    url: /Data/Documentation/Images/Logo.png
  description: 'Operations tagged Review across 2 of this provider''s published API definitions: listrak-data-openapi.json, listrak-data-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/data
tags:
- name: Review
  description: 'The Review resource is used to import review data.

    '
paths:
  /v1/Review:
    post:
      tags:
      - Review
      summary: Start a Review Import
      description: Starts a new import using the supplied review collection.
      operationId: Review_PostReviewCollection
      responses:
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
              example:
                status: 201
                resourceId: '{ResourceId}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - Review
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/data/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.PostAsJsonAsync("v1/Review", new

          []);

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/data/'\n]);\n\n$res = $client->request('POST', 'v1/Review',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n\t'body' => $jsonBody\n]);\n"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Review'
        description: An array of one or more reviews to create.
        required: true
    servers:
    - url: https://api.listrak.com/data
components:
  schemas:
    ResourceCreated:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        resourceId:
          description: An identifier used to locate a resource.
          type: string
    Rating:
      required:
      - displayType
      - providerRatingID
      - ratingMax
      - ratingMin
      - ratingValue
      - type
      type: object
      properties:
        deleted:
          description: Indicates if the review has been deleted
          type: boolean
        displayType:
          description: Rating display type
          maxLength: 50
          minLength: 0
          type: string
        providerRatingID:
          description: Rating identifier used by review provider
          maxLength: 100
          minLength: 0
          type: string
        ratingMax:
          format: double
          description: Maximum value for ratings
          type: number
        ratingMin:
          format: double
          description: Minimum value for ratings
          type: number
        ratingValue:
          format: double
          description: Rating value
          type: number
        type:
          description: Rating type
          maxLength: 100
          minLength: 0
          type: string
    Review:
      required:
      - featured
      - provider
      - providerProductID
      - providerReviewID
      - recommended
      - title
      type: object
      properties:
        deleted:
          description: Indicates if the review has been deleted
          type: boolean
        featured:
          description: Indicates if the review is featured
          type: boolean
        feedbackCount:
          format: int32
          description: Number of feedback entries
          type: integer
        feedbackNegativeCount:
          format: int32
          description: Number of negative feedback entries
          type: integer
        feedbackPositiveCount:
          format: int32
          description: Number of positive feedback entries
          type: integer
        provider:
          description: Review provider
          maxLength: 50
          minLength: 0
          type: string
        providerProductID:
          description: Product identifier used by review provider
          maxLength: 100
          minLength: 0
          type: string
        providerReviewID:
          description: Review identifier used by review
          maxLength: 100
          minLength: 0
          type: string
        ratings:
          description: Review ratings
          type: array
          items:
            $ref: '#/components/schemas/Rating'
        recommended:
          description: Indicates if the review is recommended
          type: boolean
        reviewerEmail:
          description: Email address of reviewer
          maxLength: 100
          minLength: 0
          type: string
        reviewerLocation:
          description: Location of reviewer
          maxLength: 500
          minLength: 0
          type: string
        reviewerName:
          description: Name of reviewer
          maxLength: 500
          minLength: 0
          type: string
        reviewSubmitted:
          format: date-time
          description: When review was submitted
          type: string
        reviewUpdated:
          format: date-time
          description: When review was last updated
          type: string
        text:
          description: Content of review
          type: string
        title:
          description: Title of review
          maxLength: 500
          minLength: 0
          type: string
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes: {}
x-refined-from:
- listrak-data-openapi.json
- listrak-data-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
