openapi: 3.2.0
info:
  title: Listrak Event Configurations API
  version: v1
  x-logo:
    url: https://api.listrak.com/Email/Resources/Images/Logo.png
    altText: Listrak
    href: https://www.listrak.com
    backgroundColor: '#fafafa'
  description: 'Operations tagged EventConfigurations across 2 of this provider''s published API definitions: listrak-crosschannel-openapi.json, listrak-crosschannel-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/crosschannel/v1
tags:
- name: EventConfigurations
  description: REST endpoints to manage Custom Event Configurations.
paths:
  /eventConfigurations:
    get:
      tags:
      - EventConfigurations
      summary: Get all event configurations.
      description: Get a list of all event configurations with names and unique identifiers. These can be used to determine which event configuration should be used to post your custom events.
      operationId: getEventConfigurations
      responses:
        '400':
          description: Bad Request
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '500':
          description: Internal Server Error
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '200':
          description: Returns Custom Event List as a JSON document, along with the metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventConfigurationListResponse'
    servers:
    - url: https://api.listrak.com/crosschannel/v1
  /eventConfigurations/{eventUID}:
    get:
      tags:
      - EventConfigurations
      summary: Get a Custom Event Configuration.
      description: Get the details for a specific Custom Event Configuration.
      operationId: getSchemaByEventUid
      parameters:
      - name: eventUID
        in: path
        required: true
        schema:
          type: string
      responses:
        '404':
          description: Entity Not Found
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '200':
          description: The details for a specific Custom Event Configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDetailResponse'
        '400':
          description: Bad Request
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '500':
          description: Internal Server Error
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '403':
          description: Request Forbidden
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
    servers:
    - url: https://api.listrak.com/crosschannel/v1
components:
  schemas:
    ResponseMetaData:
      type: object
      properties:
        statusCode:
          type: integer
          description: Response Status Code
          format: int32
        message:
          type: string
          description: Explanation for the code
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    CustomEventConfiguration:
      type: object
      properties:
        eventUID:
          type: string
          description: Event UID
          format: uuid
        eventName:
          type: string
          description: Event Name
      description: Custom Events Configuration
    CustomEventConfigurationListResponse:
      title: CustomEventConfigurationListResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomEventConfiguration'
        meta:
          $ref: '#/components/schemas/ResponseMetaData'
    CustomEventDetailResponse:
      title: CustomEventDetailResponse
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CustomEventDetail'
        meta:
          $ref: '#/components/schemas/ResponseMetaData'
    CustomEventDetail:
      type: object
      properties:
        eventUID:
          type: string
          description: Event UID
          format: uuid
        eventName:
          type: string
          description: Event Name
        eventSchemaAttrs:
          type: object
          additionalProperties:
            enum:
            - String
            - Int
            - Double
            - Date
            type: string
          description: Key value pairs with the key as the name of the schema property and the value as its type (String, Int, Double, Date).
        featureAccess:
          type: array
          items:
            enum:
            - Workflow
            type: string
          description: Array of values to determine which features have access to this event.
      description: Custom Events Schema
    Error:
      type: object
      properties:
        userMessage:
          type: string
        internalMessage:
          type: string
          description: Internal Message
  securitySchemes:
    Authorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
x-refined-from:
- listrak-crosschannel-openapi.json
- listrak-crosschannel-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
