openapi: 3.2.0
info:
  title: Listrak Broadcast Message API
  version: v1
  x-logo:
    url: /SMS/Resources/Images/Logo.png
  description: 'Operations tagged BroadcastMessage across 2 of this provider''s published API definitions: listrak-sms-openapi.json, listrak-sms-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/sms
tags:
- name: BroadcastMessage
  description: A Message resource is used to send an SMS broadcast message to an SMS List, from a specified Sender Code.
paths:
  /v1/ShortCode/{senderCodeId}/Broadcast/Immediate:
    post:
      tags:
      - BroadcastMessage
      summary: Immediate Broadcast
      description: "Immediately send an SMS broadcast message to all subscribed contacts on an SMS List. \nIf a segmentation field id is included, the message will only be sent to the contacts that have the custom checkbox field checked.\nThe provided title will be used for reporting purposes to identify a particular SMS broadcast message."
      operationId: BroadcastMessage_PostImmediateBroadcast
      parameters:
      - name: senderCodeId
        in: path
        description: Identifier used to specify the Sender Code.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
              example:
                status: 201
                resourceId: '{ResourceId}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the senderCodeId supplied.
      security:
      - OAuth 2: []
      x-code-samples:
      - lang: C#
        source: "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.PostAsJsonAsync(\"v1/ShortCode/{senderCodeId}/Broadcast/Immediate\", new\n{\n   PhoneListId = 0,\n   MessageContent =   ,\n   MessageTitle =   ,\n   SegmentationFieldId = null\n});\n"
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => '/'\n]);\n\n$res = $client->request('POST', 'v1/ShortCode/{senderCodeId}/Broadcast/Immediate',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n\t'json' => $jsonBody\n]);\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastMessage'
        description: Message object information needed to initiate the immediate SMS broadcast message.
        required: true
    servers:
    - url: https://api.listrak.com/sms
components:
  schemas:
    ResourceCreated:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        resourceId:
          description: An identifier used to locate a resource.
          type: string
    BroadcastMessage:
      description: A Broadcast Message resource.
      required:
      - phoneListId
      - messageContent
      - messageTitle
      type: object
      properties:
        phoneListId:
          format: int32
          description: Identifier for an SMS List.
          type: integer
        messageContent:
          description: Content of the SMS broadcast message.
          type: string
        messageTitle:
          description: The name of the SMS broadcast message, used for reporting purposes.
          maxLength: 50
          minLength: 1
          type: string
        segmentationFieldId:
          description: The identifier of a custom checkbox field to use for filtering. The message will only be sent to recipients with this field checked.
          type: string
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes: {}
x-refined-from:
- listrak-sms-openapi.json
- listrak-sms-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
