openapi: 3.2.0
info:
  title: Listrak Conversation Message API
  version: v1
  x-logo:
    url: /Email/Resources/Images/Logo.png
  description: 'Operations tagged ConversationMessage across 2 of this provider''s published API definitions: listrak-email-openapi.json, listrak-email-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/email
tags:
- name: ConversationMessage
  description: The Conversation Message resource allows you to access messages sent through a conversation.
paths:
  /v1/List/{listId}/Conversation/{conversationId}/Message:
    get:
      tags:
      - ConversationMessage
      summary: Get all Conversation Messages
      description: Returns the collection of messages for the specified conversation.
      operationId: ConversationMessage_GetConversationMessageCollection
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      - name: conversationId
        in: path
        description: Identifier used to locate the conversation.
        required: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: Value indicating the page of data that's being retrieved. The default value is `Start`.
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: Number of data members to be displayed per page. The default value is `1000` and the maximum value is `5000`.
        required: false
        schema:
          type: string
      - name: includePreviousVersions
        in: query
        description: Whether messages from previous versions of the conversation should be should be included in the collection. The default value is `false`.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionPaged_Message'
              example:
                status: 200
                nextPageCursor: null
                data:
                - messageId: 0
                  sendDate: null
                  messageStatus: null
                  campaignId: 0
                  externalCampaignId: null
                  subject: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId and conversationId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - List
        - Message
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/email/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/List/{listId}/Conversation/{conversationId}/Message");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('GET', 'v1/List/{listId}/Conversation/{conversationId}/Message',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/email
  /v1/List/{listId}/Conversation/{conversationId}/Message/{conversationMessageId}:
    get:
      tags:
      - ConversationMessage
      summary: Get a Conversation Message
      description: Returns the specified message.
      operationId: ConversationMessage_GetConversationMessageResource
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      - name: conversationId
        in: path
        description: Identifier used to locate the conversation.
        required: true
        schema:
          type: integer
          format: int32
      - name: conversationMessageId
        in: path
        description: Identifier used to locate the message.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource_MessageExtended'
              example:
                status: 200
                data:
                  messageId: 0
                  sendDate: null
                  messageStatus: null
                  enableUniversalEmailKeySetting: false
                  campaignId: 0
                  bodyHtml: null
                  bodyText: null
                  codePage: 0
                  enablePassalong: false
                  enableTracking: false
                  externalCampaignId: null
                  fromEmail: null
                  fromName: null
                  googleAnalyticsCampaignName: null
                  googleAnalyticsCampaignContent: null
                  replyEmail: null
                  savedAudienceId: 0
                  subject: null
                  toName: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId, conversationId, and conversationMessageId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - List
        - Message
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/email/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/List/{listId}/Conversation/{conversationId}/Message/{conversationMessageId}");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('GET', 'v1/List/{listId}/Conversation/{conversationId}/Message/{conversationMessageId}',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/email
components:
  schemas:
    Message:
      description: A Message resource.
      required:
      - externalCampaignId
      - subject
      type: object
      properties:
        messageId:
          format: int32
          description: Identifier used to locate the message.
          type: integer
          readOnly: true
        sendDate:
          format: date-time
          description: Send date of the message.
          type: string
          readOnly: true
        messageStatus:
          description: Status displaying whether the message is sent or scheduled.
          type: string
          readOnly: true
        campaignId:
          format: int32
          description: Identifier of the campaign associated with the message.
          type: integer
        externalCampaignId:
          description: Customer-provided identifier of the campaign associated with the message.
          type: string
        subject:
          description: Subject of the message.
          type: string
    Resource_MessageExtended:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        data:
          $ref: '#/components/schemas/MessageExtended'
          description: Return data.
    MessageExtended:
      description: A Message resource.
      required:
      - externalCampaignId
      - fromEmail
      - fromName
      - subject
      type: object
      properties:
        messageId:
          format: int32
          description: Identifier used to locate the message.
          type: integer
          readOnly: true
        sendDate:
          format: date-time
          description: Send date of the message.
          type: string
          readOnly: true
        messageStatus:
          description: Status displaying whether the message is sent or scheduled.
          type: string
          readOnly: true
        enableUniversalEmailKeySetting:
          description: Whether to include UniversalEmailKey in URL query string.
          type: boolean
        campaignId:
          format: int32
          description: Identifier of the campaign associated with the message.
          type: integer
        bodyHtml:
          description: HTML body that will be sent in the message.
          type: string
        bodyText:
          description: Text body that will be sent in the message.
          type: string
        codePage:
          format: int32
          description: Type of CodePage used in the message.
          type: integer
        enablePassalong:
          description: Whether passalong is enabled.
          type: boolean
        enableTracking:
          description: Whether tracking is enabled.
          type: boolean
        externalCampaignId:
          description: Customer-provided identifier of the campaign associated with the message.
          type: string
        fromEmail:
          description: The _from email address_ that will be used for the message.
          type: string
        fromName:
          description: The _from name_ that will be used for the message.
          type: string
        googleAnalyticsCampaignName:
          description: The Google Analytics campaign name to be used for message tracking.
          type: string
        googleAnalyticsCampaignContent:
          description: The Google Analytics campaign content to be used for message tracking.
          type: string
        replyEmail:
          description: The _reply email address_ that will be used for the message.
          type: string
        savedAudienceId:
          format: int32
          description: Identifier of the SavedAudience to use for recipient filtering.
          type: integer
        subject:
          description: Subject of the message.
          type: string
        toName:
          description: The _to name_ that will be used for the message.
          type: string
    CollectionPaged_Message:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        nextPageCursor:
          description: URI of the next page of data.
          type: string
        data:
          description: Collection of data that exists on this paged view.
          type: array
          items:
            $ref: '#/components/schemas/Message'
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes:
            Contact: Contact access
            Event: Event access
            List: List access
            Message: Message access
            Report: Report access
            Segmentation: Segmentation access
x-refined-from:
- listrak-email-openapi.json
- listrak-email-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
