openapi: 3.2.0
info:
  title: Listrak List Import Summary API
  version: v1
  x-logo:
    url: /Email/Resources/Images/Logo.png
  description: 'Operations tagged ListImportSummary across 2 of this provider''s published API definitions: listrak-email-openapi.json, listrak-email-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/email
tags:
- name: ListImportSummary
  description: The List Import Summary resource allows you to access an aggregated summary of a list import.
paths:
  /v1/List/{listId}/ListImport/{importFileId}/Summary:
    get:
      tags:
      - ListImportSummary
      summary: Get a List Import Summary
      description: Returns a summary of the specified list import.
      operationId: ListImportSummary_GetListImportSummaryResource
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      - name: importFileId
        in: path
        description: Identifier used to locate the import file.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource_ListImportSummary'
              example:
                status: 200
                data:
                  alreadySubscribedCount: 0
                  alreadyUnsubscribedCount: 0
                  bannedCount: 0
                  invalidEmailCount: 0
                  previouslyUnsubscribedCount: 0
                  processedCount: 0
                  skippedCount: 0
                  subscribedCount: 0
                  suppressedCount: 0
                  unsubscribedCount: 0
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId and importFileId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - List
        - Contact
        - Report
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/email/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/List/{listId}/ListImport/{importFileId}/Summary");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('GET', 'v1/List/{listId}/ListImport/{importFileId}/Summary',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/email
components:
  schemas:
    ListImportSummary:
      description: A List Import Summary resource.
      type: object
      properties:
        alreadySubscribedCount:
          format: int32
          description: Number of contacts that are already subscribed to the list.
          type: integer
        alreadyUnsubscribedCount:
          format: int32
          description: Number of contacts that have already been unsubscribed from the list. Only applies when removing subscribers.
          type: integer
        bannedCount:
          format: int32
          description: Number of contacts that have been banned from the list.
          type: integer
        invalidEmailCount:
          format: int32
          description: Number of contacts that have an invalid email address.
          type: integer
        previouslyUnsubscribedCount:
          format: int32
          description: Number of contacts that have already been unsubscribed from the list. Only applies when updating and appending subscribers.
          type: integer
        processedCount:
          format: int32
          description: Number of contacts that were processed in total.
          type: integer
        skippedCount:
          format: int32
          description: Number of contacts that were skipped.
          type: integer
        subscribedCount:
          format: int32
          description: Number of contacts that were subscribed to the list.
          type: integer
        suppressedCount:
          format: int32
          description: Number of contacts that are on a suppression list bound to the list.
          type: integer
        unsubscribedCount:
          format: int32
          description: Number of contacts that were unsubscribed from the list.
          type: integer
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
    Resource_ListImportSummary:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        data:
          $ref: '#/components/schemas/ListImportSummary'
          description: Return data.
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes:
            Contact: Contact access
            Event: Event access
            List: List access
            Message: Message access
            Report: Report access
            Segmentation: Segmentation access
x-refined-from:
- listrak-email-openapi.json
- listrak-email-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
