openapi: 3.2.0
info:
  title: Listrak Product API
  version: v1
  x-logo:
    url: /Data/Documentation/Images/Logo.png
  description: 'Operations tagged Product across 2 of this provider''s published API definitions: listrak-data-openapi.json, listrak-data-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/data
tags:
- name: Product
  description: 'The Product resource is used to import product data.

    '
paths:
  /v1/Product:
    post:
      tags:
      - Product
      summary: Start a Product Import
      description: Starts a new import using the supplied product collection.
      operationId: Product_PostProductCollection
      responses:
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
              example:
                status: 201
                resourceId: '{ResourceId}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - Product
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/data/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.PostAsJsonAsync("v1/Product", new

          []);

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/data/'\n]);\n\n$res = $client->request('POST', 'v1/Product',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n\t'body' => $jsonBody\n]);\n"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product'
        description: An array of one or more products to create.
        required: true
    servers:
    - url: https://api.listrak.com/data
components:
  schemas:
    ResourceCreated:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        resourceId:
          description: An identifier used to locate a resource.
          type: string
    Product:
      description: A product resource
      required:
      - sku
      type: object
      properties:
        alternateImagesType1:
          description: Alternate product images
          type: array
          items:
            $ref: '#/components/schemas/AlternateImage'
        alternateImagesType2:
          description: Alternate product images
          type: array
          items:
            $ref: '#/components/schemas/AlternateImage'
        alternateImagesType3:
          description: Alternate product images
          type: array
          items:
            $ref: '#/components/schemas/AlternateImage'
        brand:
          description: Brand name of product
          maxLength: 50
          minLength: 0
          type: string
        category:
          description: Category or department
          maxLength: 50
          minLength: 0
          type: string
        color:
          description: Color of product (e.g. green, paisley, etc.)
          maxLength: 100
          minLength: 0
          type: string
        description:
          description: Description of product
          maxLength: 4000
          minLength: 0
          type: string
        discontinued:
          description: Explicit indicator that the item has been discontinued
          type: boolean
        gender:
          description: Gender of product (if applicable)
          maxLength: 50
          minLength: 0
          type: string
        imageUrl:
          description: URL for product image
          maxLength: 500
          minLength: 0
          type: string
        inStock:
          description: Explicit indicator that the item is in stock
          type: boolean
        isClearance:
          description: Explicit indicator that the item is a clearance item
          type: boolean
        isOutlet:
          description: Explicit indicator that the item is an outlet item
          type: boolean
        isPurchasable:
          description: Explicit indicator that the item can be included in recommendations
          type: boolean
        isViewable:
          description: Flag used in some systems to determine if the item should be included in recommendations
          type: boolean
        linkUrl:
          description: URL for product webpage
          maxLength: 500
          minLength: 0
          type: string
        masterSku:
          description: Unique stock number of the master product
          maxLength: 100
          minLength: 0
          type: string
        meta1:
          description: Additional meta information
          maxLength: 500
          minLength: 0
          type: string
        meta2:
          description: Additional meta information
          maxLength: 500
          minLength: 0
          type: string
        meta3:
          description: Additional meta information
          maxLength: 500
          minLength: 0
          type: string
        meta4:
          description: Additional meta information
          maxLength: 500
          minLength: 0
          type: string
        meta5:
          description: Additional meta information
          maxLength: 500
          minLength: 0
          type: string
        msrp:
          format: double
          description: Retail price of the product
          type: number
        onSale:
          description: Explicit indicator that the item is on sale
          type: boolean
        price:
          format: double
          description: List price of product
          type: number
        qoh:
          format: int32
          description: Quantity on hand
          type: integer
        relatedProducts:
          type: array
          items:
            $ref: '#/components/schemas/RelatedProduct'
        reviewProductID:
          description: Unique identifier used by 3rd-party reviews provider
          maxLength: 100
          minLength: 0
          type: string
        reviewURL:
          description: URL for review webpage
          maxLength: 500
          minLength: 0
          type: string
        saleEndDate:
          format: date-time
          description: End date time of sale
          type: string
        salePrice:
          format: double
          description: Sale price of product
          type: number
        saleStartDate:
          format: date-time
          description: Start date time of sale
          type: string
        size:
          description: Size of product (e.g. small, M, 6 7/8”)
          maxLength: 50
          minLength: 0
          type: string
        sku:
          description: Unique stock number of product
          maxLength: 100
          minLength: 0
          type: string
        style:
          description: Style of product
          maxLength: 100
          minLength: 0
          type: string
        subCategory:
          description: Sub-category or sub-department
          maxLength: 50
          minLength: 0
          type: string
        title:
          description: Product name
          maxLength: 500
          minLength: 0
          type: string
        unitCost:
          format: double
          description: Price per individual item
          type: number
        tags:
          description: Comma separated list of tags
          type: string
    RelatedProduct:
      description: Related products
      type: object
      properties:
        rank:
          format: int32
          description: Rank of related product
          type: integer
        sku:
          description: Unique stock number of related product
          type: string
        type:
          description: Type of related product
          type: string
    AlternateImage:
      description: Alternate product image
      type: object
      properties:
        rank:
          format: int32
          description: Rank for alternate product image
          type: integer
        url:
          description: URL for alternate product image
          type: string
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes: {}
x-refined-from:
- listrak-data-openapi.json
- listrak-data-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
