openapi: 3.2.0
info:
  title: Listrak Events API
  version: v1
  x-logo:
    url: https://api.listrak.com/Email/Resources/Images/Logo.png
    altText: Listrak
    href: https://www.listrak.com
    backgroundColor: '#fafafa'
  description: 'Operations tagged Events across 2 of this provider''s published API definitions: listrak-crosschannel-openapi.json, listrak-crosschannel-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/crosschannel/v1
tags:
- name: Events
  description: REST endpoints to manage Custom Events.
paths:
  /eventConfigurations/{eventUID}/events:
    post:
      tags:
      - Events
      summary: Route to post new Custom Events.
      description: A route to post new Custom Events associated with the given Custom Event Configuration. The data payload for these events should match the schema defined through your Custom Events Integration.
      operationId: postEvents
      parameters:
      - name: eventUID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventList'
        required: true
      responses:
        '404':
          description: Entity Not Found
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '200':
          description: Contains the response information for each submitted identifier, as well as metadata associated with the overall response status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventPostResponse'
        '400':
          description: Bad Request
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '500':
          description: Internal Server Error
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
      x-codeSamples:
      - lang: JSON
        source: "{\n    \"events\": [\n        {\n            \"identifiers\": [\n                {\n                    \"identifierValue\": \"alice@listrak.com\",\n                    \"identifierType\": \"EmailAddress\"\n                },\n                {\n                    \"identifierValue\": \"5551234567\",\n                    \"identifierType\": \"PhoneNumber\"\n                }\n            ],\n            \"dataFields\": {\n                \"firstName\": \"Alice\",\n                \"lastName\": \"Smith\"\n            }\n        },\n        {\n            \"identifiers\": [\n                {\n                    \"identifierValue\": \"bob@listrak.com\",\n                    \"identifierType\": \"EmailAddress\"\n                },\n                {\n                    \"identifierValue\": \"5551234568\",\n                    \"identifierType\": \"PhoneNumber\"\n                }\n            ],\n            \"dataFields\": {\n                \"firstName\": \"Bob\",\n                \"lastName\": \"Smith\"\n            }\n        }\n    ]\n}"
    servers:
    - url: https://api.listrak.com/crosschannel/v1
components:
  schemas:
    Identifier:
      type: object
      properties:
        identifierValue:
          type: string
          description: The value for the identifier.
        identifierType:
          enum:
          - EmailAddress
          - PhoneNumber
          - MobileContactUid
          type: string
          description: The type of identifier, e.g. an email address.
      description: The identifier information that can be used to contact the person associated with this event.
    CustomEventPostResponse:
      title: CustomEventPostResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RecipientDetailResponse'
        meta:
          $ref: '#/components/schemas/ResponseMetaData'
    RecipientDetailResponse:
      type: object
      properties:
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          description: All recipient identifiers that received this included status code
        statusCode:
          type: integer
          description: Response Status Code for the recipients in this JSON object
          format: int32
        errors:
          type: array
          items:
            $ref: '#/components/schemas/RecipientDetailResponseError'
          description: Errors, if any, that occured to cause a non-200 series status code
    Error:
      type: object
      properties:
        userMessage:
          type: string
        internalMessage:
          type: string
          description: Internal Message
    EventList:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
          description: The list of events.
    RecipientDetailResponseError:
      type: object
      properties:
        errorType:
          type: string
          description: The type of error
          format: string
        errorMessage:
          type: string
          description: The error message
          format: string
    Event:
      type: object
      properties:
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
          description: A list of identifiers for the person associated with this event. One or more must be included. Please note that consuming services may not be able to act on all identifiers of the same type on an event (e.g. multiple email addresses on a single event) - please consider this when creating events.
        dataFields:
          type: object
          additionalProperties:
            type: string
          description: An object containing keys and values for user-defined data. This data should match the fields defined when creating the Custom Event Schema defined through your Cross Channel Integration. While the values may be passed as strings, it should be possible to parse these values into their defined types. Omitted values will not cause errors, but will lead to gaps in the available data for personalization. Additional fields beyond those defined in the schema will be discarded.
      description: Custom Events Configuration
    ResponseMetaData:
      type: object
      properties:
        statusCode:
          type: integer
          description: Response Status Code
          format: int32
        message:
          type: string
          description: Explanation for the code
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    Authorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
x-refined-from:
- listrak-crosschannel-openapi.json
- listrak-crosschannel-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
