openapi: 3.2.0
info:
  title: Listrak Tickets API
  version: v1
  x-logo:
    url: https://api.listrak.com/Email/Resources/Images/Logo.png
    altText: Listrak
    href: https://www.listrak.com
    backgroundColor: '#fafafa'
  description: 'Operations tagged Tickets across 2 of this provider''s published API definitions: listrak-twowaysms-openapi.json, listrak-twowaysms-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/twowaysms
tags:
- name: Tickets
paths:
  /tickets:
    post:
      operationId: openTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketOpenRequest'
        required: true
      responses:
        '201':
          description: 201 response
        '400':
          description: 400 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '404':
          description: 404 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '429':
          description: 429 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '409':
          description: 409 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
      tags:
      - Tickets
    delete:
      operationId: closeTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketCloseRequest'
        required: true
      responses:
        '404':
          description: 404 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '429':
          description: 429 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '400':
          description: 400 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '500':
          description: 500 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '204':
          description: 204 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
        '403':
          description: 403 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
      tags:
      - Tickets
    servers:
    - url: https://api.listrak.com/twowaysms
components:
  schemas:
    TicketCloseRequest:
      type: object
      properties:
        integrationType:
          $ref: '#/components/schemas/integrationType'
        phoneId:
          type: integer
          description: Numeric ID. Phone Id
          format: int64
      description: A request for closing a ticket
    integrationType:
      enum:
      - gorgias
      - custom
      type: string
      description: Integration Type
    TicketOpenRequest:
      type: object
      properties:
        integrationType:
          $ref: '#/components/schemas/integrationType'
        phoneId:
          type: integer
          description: Numeric ID. Phone Id
          format: int64
        externalTicketId:
          type: string
          description: A unique ticket identifier.
      description: A request for opening a ticket
  securitySchemes:
    Authorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
x-refined-from:
- listrak-twowaysms-openapi.json
- listrak-twowaysms-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
