openapi: 3.2.0
info:
  title: Listrak Contact Segmentation Field API
  version: v1
  x-logo:
    url: /Email/Resources/Images/Logo.png
  description: 'Operations tagged ContactSegmentationField across 2 of this provider''s published API definitions: listrak-email-openapi.json, listrak-email-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/email
tags:
- name: ContactSegmentationField
  description: The Contact Segmentation Field resource is used to update contact profile fields.
paths:
  /v1/List/{listId}/Contact/SegmentationField:
    post:
      tags:
      - ContactSegmentationField
      summary: Start a list import to update one or more contact profile fields
      description: This route is in Beta and not yet generally available for all integrations. One or more list imports will be started to update the specified contact profile fields on the specified list.
      operationId: ContactSegmentationField_PostContactSegmentationFieldValuesResource
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
              example:
                status: 201
                resourceId: '{ResourceId}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId supplied.
      security:
      - OAuth 2: []
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/email/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.PostAsJsonAsync("v1/List/{listId}/Contact/SegmentationField", new

          []);

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('POST', 'v1/List/{listId}/Contact/SegmentationField',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n\t'json' => $jsonBody\n]);\n"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ContactSegmentationFieldValues'
        description: An array of one or more contacts with profile field values to update.
        required: true
    servers:
    - url: https://api.listrak.com/email
components:
  schemas:
    ResourceCreated:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        resourceId:
          description: An identifier used to locate a resource.
          type: string
    ContactSegmentationFieldValue:
      description: A contact's profile field value.
      required:
      - segmentationFieldId
      - value
      type: object
      properties:
        segmentationFieldId:
          format: int32
          description: Identifier of the profile field.
          type: integer
        value:
          description: Value of the profile field.
          type: string
    ContactSegmentationFieldValues:
      description: A Contact with profile field values.
      required:
      - emailAddress
      - segmentationFieldValues
      type: object
      properties:
        emailAddress:
          description: Email address of the contact.
          type: string
        segmentationFieldValues:
          description: Profile field values associated with the contact.
          type: array
          items:
            $ref: '#/components/schemas/ContactSegmentationFieldValue'
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes:
            Contact: Contact access
            Event: Event access
            List: List access
            Message: Message access
            Report: Report access
            Segmentation: Segmentation access
x-refined-from:
- listrak-email-openapi.json
- listrak-email-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
