openapi: 3.2.0
info:
  title: App Push Mobile Client Device API
  description: '# Introduction


    Welcome to the Listrak Mobile Client REST API!'
  termsOfService: http://integrations.listrak.com/api/customers/v1/terms
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v1
  x-logo:
    url: https://api.listrak.com/Email/Resources/Images/Logo.png
    altText: Listrak
    href: https://www.listrak.com
    backgroundColor: '#fafafa'
servers:
- url: https://api.listrak.com/mobileclient
tags:
- name: app-push-mobile-client-device
  description: Endpoints to manage app push devices.
paths:
  /device:
    post:
      tags:
      - app-push-mobile-client-device
      summary: Registers a device to receive push notifications
      operationId: createAppPushDevice
      requestBody:
        description: App push device registration request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
        required: true
      responses:
        '404':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '201':
          description: Returns one Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '429':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '400':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '500':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '403':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
  /device/{deviceUid}:
    get:
      tags:
      - app-push-mobile-client-device
      summary: Gets device information
      operationId: getAppPushDevice
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
      responses:
        '404':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '200':
          description: Returns one Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '429':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '400':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '500':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '403':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
    put:
      tags:
      - app-push-mobile-client-device
      summary: Updates a device
      operationId: updateAppPushDevice
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: App push device request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
        required: true
      responses:
        '404':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '200':
          description: Returns one Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '429':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '400':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '500':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '403':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
    patch:
      tags:
      - app-push-mobile-client-device
      summary: Patches a device
      operationId: patchAppPushDevice
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: App push device patch request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePatch'
        required: true
      responses:
        '404':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '200':
          description: Returns one Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '429':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '400':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '500':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '403':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
components:
  schemas:
    DevicePlatformType:
      enum:
      - Firebase
      - APNs
      type: string
      description: The push notification platform used by the device
    DevicePatch:
      required:
      - deviceUid
      type: object
      properties:
        deviceUid:
          type: string
          format: uuid
        deviceToken:
          type: string
          description: Identifying token for a mobile device
        identifiers:
          $ref: '#/components/schemas/Identifiers'
        subscribed:
          type: boolean
          description: Identifying whether a mobile device is subscribed or unsubscribed
        deviceOS:
          $ref: '#/components/schemas/DeviceOS'
        deviceOSVersion:
          type: string
          description: Identifies the version of the mobile device's OS
        deviceType:
          type: string
          description: Identifies the physical device model
        mobileAppVersion:
          type: string
          description: Identifies the version of the Mobile App
      description: A Patch for a Mobile App Push Device
    MobileClientError:
      type: object
      properties:
        errorMessage:
          type: string
    Device:
      required:
      - devicePlatformType
      - deviceToken
      - subscribed
      type: object
      properties:
        deviceUid:
          type: string
          format: uuid
        deviceToken:
          type: string
          description: Identifying token for a mobile device
        devicePlatformType:
          $ref: '#/components/schemas/DevicePlatformType'
        identifiers:
          $ref: '#/components/schemas/Identifiers'
        subscribed:
          type: boolean
          description: Identifies whether a mobile device is subscribed or unsubscribed
        deviceOS:
          $ref: '#/components/schemas/DeviceOS'
        deviceOSVersion:
          type: string
          description: Identifies the version of the mobile device's OS
        deviceType:
          type: string
          description: Identifies the physical device model
        mobileAppVersion:
          type: string
          description: Identifies the version of the Mobile App
      description: A Mobile App Push Device
    DeviceOS:
      enum:
      - Android
      - iOS
      - Other
      type: string
      description: The operating system used by the device
    Identifiers:
      type: object
      properties:
        email:
          type: string
          description: Identifying email for a device
        phone:
          type: string
          description: Identifying phone number for a device
      description: Identifiers that can associate a device with a contact
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-amazon-apigateway-security-policy: TLS_1_0
x-amazon-apigateway-policy:
  Version: '2012-10-17T00:00:00.0000000+00:00'
  Statement:
  - Effect: Allow
    Principal: '*'
    Action: execute-api:Invoke
    Resource: arn:aws:execute-api:us-east-1:925048818831:evlm7h2qhg/*
