openapi: 3.2.0
info:
  title: Listrak App Push Mobile Client Engagements API
  version: v1
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://integrations.listrak.com/api/customers/v1/terms
  x-logo:
    url: https://api.listrak.com/Email/Resources/Images/Logo.png
    altText: Listrak
    href: https://www.listrak.com
    backgroundColor: '#fafafa'
  description: 'Operations tagged app-push-mobile-client-engagements across 2 of this provider''s published API definitions: listrak-mobileclient-openapi.json, listrak-mobileclient-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/mobileclient
tags:
- name: app-push-mobile-client-engagements
  description: Endpoints to manage app push mobile client engagements.
paths:
  /device/{deviceUid}/engagement:
    post:
      tags:
      - app-push-mobile-client-engagements
      summary: Creates a mobile device engagement event
      operationId: createMobileDeviceEngagementEvent
      parameters:
      - name: deviceUid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: Triggered mobile device engagement event
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngagementEvent'
        required: true
      responses:
        '404':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '429':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '202':
          description: 202 response
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accepted'
        '400':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '500':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
        '403':
          description: An error returned by the App Push APIs
          headers:
            X-Frame-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileClientError'
    servers:
    - url: https://api.listrak.com/mobileclient
components:
  schemas:
    EngagementEventType:
      enum:
      - Tapped
      - Dismissed
      type: string
      description: The type of engagement that occurred
    MobileClientError:
      type: object
      properties:
        errorMessage:
          type: string
    Accepted:
      type: object
      properties:
        statusCode:
          type: string
    EngagementEvent:
      required:
      - sendUid
      - type
      type: object
      properties:
        sendUid:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/EngagementEventType'
      description: An engagement event that has happened on a mobile device
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-refined-from:
- listrak-mobileclient-openapi.json
- listrak-mobileclient-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
