openapi: 3.2.0
info:
  title: Listrak Transactional Message API
  version: v1
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged TransactionalMessage across 4 of this provider''s published API definitions: listrak-email-openapi.json, listrak-email-openapi.yml, listrak-sms-openapi.json, listrak-sms-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/email
- url: https://api.listrak.com/sms
tags:
- name: TransactionalMessage
  description: A Transactional Message resource provides a way to access transactional messages that have been created on a list.
paths:
  /v1/List/{listId}/TransactionalMessage/{transactionalMessageId}/Message:
    post:
      tags:
      - TransactionalMessage
      summary: Send a TransactionalMessage
      description: Sends a message based on a previously-created transactional message.
      operationId: TransactionalMessage_PostTransactionalMessageSend
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      - name: transactionalMessageId
        in: path
        description: Identifier used to locate the transactional message.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
              example:
                status: 201
                resourceId: '{ResourceId}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId and transactionalMessageId supplied.
      security:
      - OAuth 2:
        - List
        - Message
      x-code-samples:
      - lang: C#
        source: "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/email/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.PostAsJsonAsync(\"v1/List/{listId}/TransactionalMessage/{transactionalMessageId}/Message\", new\n{\n   EmailAddress = null,\n   SegmentationFieldValues = null\n});\n"
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('POST', 'v1/List/{listId}/TransactionalMessage/{transactionalMessageId}/Message',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n\t'json' => $jsonBody\n]);\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionalMessageContact'
        description: Representation of the contact to send to.
        required: true
    servers:
    - url: https://api.listrak.com/email
  /v1/List/{listId}/TransactionalMessage:
    get:
      tags:
      - TransactionalMessage
      summary: Get all TransactionalMessages
      description: Returns the collection of transactional messages associated with the specified list.
      operationId: TransactionalMessage_GetTransactionalMessageCollection
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_TransactionalMessage'
              example:
                status: 200
                data:
                - transactionalMessageId: 0
                  transactionalMessageName: null
                  campaignId: 0
                  externalCampaignId: null
                  subject: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - List
        - Message
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/email/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/List/{listId}/TransactionalMessage");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('GET', 'v1/List/{listId}/TransactionalMessage',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/email
  /v1/List/{listId}/TransactionalMessage/{transactionalMessageId}:
    get:
      tags:
      - TransactionalMessage
      summary: Get a TransactionalMessage
      description: Returns the specified transactional message.
      operationId: TransactionalMessage_GetTransactionalMessageResource
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      - name: transactionalMessageId
        in: path
        description: Identifier used to locate the transactional message.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource_TransactionalMessage'
              example:
                status: 200
                data:
                  transactionalMessageId: 0
                  transactionalMessageName: null
                  campaignId: 0
                  externalCampaignId: null
                  subject: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId and transactionalMessageId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - List
        - Message
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/email/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/List/{listId}/TransactionalMessage/{transactionalMessageId}");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('GET', 'v1/List/{listId}/TransactionalMessage/{transactionalMessageId}',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/email
  /v1/ShortCode/{senderCodeId}/PhoneList/{phoneListId}/TransactionalMessage:
    get:
      tags:
      - TransactionalMessage
      summary: Get Transactional Messages
      description: Retrieve a Collection of Transactional SMS Message for an SMS List.
      operationId: TransactionalMessage_GetTransactionalMessageCollection
      parameters:
      - name: senderCodeId
        in: path
        description: Identifier used to specify the Sender Code.
        required: true
        schema:
          type: integer
          format: int32
      - name: phoneListId
        in: path
        description: Identifier used to specify the SMS List.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_TransactionalMessage'
              example:
                status: 200
                nextPageCursor: null
                data:
                - transactionalMessageId: 0
                  transactionalMessageName: null
                  transactionalMessageStatus: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the senderCodeId and phoneListId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2: []
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/ShortCode/{senderCodeId}/PhoneList/{phoneListId}/TransactionalMessage");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => '/'\n]);\n\n$res = $client->request('GET', 'v1/ShortCode/{senderCodeId}/PhoneList/{phoneListId}/TransactionalMessage',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/sms
  /v1/ShortCode/{senderCodeId}/PhoneList/{phoneListId}/TransactionalMessage/{transactionalMessageId}:
    get:
      tags:
      - TransactionalMessage
      summary: Get Transactional Message
      description: Retrieve a single Transactional SMS Message for an SMS List by Id.
      operationId: TransactionalMessage_GetTransactionalMessageResource
      parameters:
      - name: senderCodeId
        in: path
        description: Identifier used to specify the Sender Code.
        required: true
        schema:
          type: integer
          format: int32
      - name: phoneListId
        in: path
        description: Identifier used to specify the SMS List.
        required: true
        schema:
          type: integer
          format: int32
      - name: transactionalMessageId
        in: path
        description: Identifier used to specify the Tranactional SMS Message.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionalMessage_2'
              example:
                status: 200
                data:
                  transactionalMessageId: 0
                  transactionalMessageName: null
                  transactionalMessageStatus: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the senderCodeId, phoneListId, and transactionalMessageId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2: []
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/ShortCode/{senderCodeId}/PhoneList/{phoneListId}/TransactionalMessage/{transactionalMessageId}");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => '/'\n]);\n\n$res = $client->request('GET', 'v1/ShortCode/{senderCodeId}/PhoneList/{phoneListId}/TransactionalMessage/{transactionalMessageId}',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/sms
  /v1/ShortCode/{SenderCodeId}/PhoneList/{phoneListId}/TransactionalMessage/{transactionalMessageId}/Message:
    post:
      tags:
      - TransactionalMessage
      summary: Send Transactional Message
      description: Send a single Transactional SMS Message for an SMS List by Id.
      operationId: TransactionalMessage_PostTransactionalMessageSend
      parameters:
      - name: phoneListId
        in: path
        description: Identifier used to specify the SMS List that the message belongs to.
        required: true
        schema:
          type: integer
          format: int32
      - name: transactionalMessageId
        in: path
        description: Identifier used to specify the Tranactional SMS Message.
        required: true
        schema:
          type: integer
          format: int32
      - name: SenderCodeId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
              example:
                status: 201
                resourceId: '{ResourceId}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the phoneListId, transactionalMessageId, and SenderCodeId supplied.
      security:
      - OAuth 2: []
      x-code-samples:
      - lang: C#
        source: "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.PostAsJsonAsync(\"v1/ShortCode/{SenderCodeId}/PhoneList/{phoneListId}/TransactionalMessage/{transactionalMessageId}/Message\", new\n{\n   PhoneNumber = null,\n   MessageContent = null\n});\n"
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => '/'\n]);\n\n$res = $client->request('POST', 'v1/ShortCode/{SenderCodeId}/PhoneList/{phoneListId}/TransactionalMessage/{transactionalMessageId}/Message',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n\t'json' => $jsonBody\n]);\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionalMessageContact_2'
        description: Contact object with necessary Transactional message information.
        required: true
    servers:
    - url: https://api.listrak.com/sms
components:
  schemas:
    SegmentationFieldValue:
      description: A Profile Field Value resource.
      required:
      - segmentationFieldId
      - value
      type: object
      properties:
        segmentationFieldGroupId:
          format: int32
          description: Identifier of the profile field group.
          type: integer
          readOnly: true
        segmentationFieldId:
          format: int32
          description: Identifier of the profile field.
          type: integer
        value:
          description: Value of the profile field.
          type: string
    Collection_TransactionalMessage:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        data:
          description: Collection of return data from the given call.
          type: array
          items:
            $ref: '#/components/schemas/TransactionalMessage'
    ResourceCreated:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        resourceId:
          description: An identifier used to locate a resource.
          type: string
    Resource_TransactionalMessage:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        data:
          $ref: '#/components/schemas/TransactionalMessage'
          description: Return data.
    TransactionalMessage:
      description: A Transactional Message resource.
      required:
      - externalCampaignId
      - subject
      type: object
      properties:
        transactionalMessageId:
          format: int32
          description: Identifier used to locate the transactional message.
          type: integer
        transactionalMessageName:
          description: Name given to the transactional message.
          type: string
        campaignId:
          format: int32
          description: Identifier of the campaign associated with the message.
          type: integer
        externalCampaignId:
          description: Customer-provided identifier of the campaign associated with the message.
          type: string
        subject:
          description: Subject of the message.
          type: string
    TransactionalMessageContact:
      description: A Transactional Message Contact resource.
      required:
      - emailAddress
      type: object
      properties:
        emailAddress:
          description: Email address of the contact.
          type: string
        segmentationFieldValues:
          description: Profile field values associated with the contact. An empty set must be provided if there are none.
          type: array
          items:
            $ref: '#/components/schemas/SegmentationFieldValue'
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
    TransactionalMessage_2:
      description: A Transactional Message resource.
      type: object
      properties:
        transactionalMessageId:
          format: int32
          description: Identifier used to locate a transactional message.
          type: integer
        transactionalMessageName:
          description: Name given to a transactional message.
          type: string
        transactionalMessageStatus:
          description: Status of a transactional message.
          type: string
    TransactionalMessageContact_2:
      description: A Transactional Message Contact resource.
      type: object
      properties:
        phoneNumber:
          description: Phone Number associated with a contact.
          type: string
        messageContent:
          description: Content of SMS Message.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes:
            Contact: Contact access
            Event: Event access
            List: List access
            Message: Message access
            Report: Report access
            Segmentation: Segmentation access
x-refined-from:
- listrak-email-openapi.json
- listrak-email-openapi.yml
- listrak-sms-openapi.json
- listrak-sms-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
