openapi: 3.2.0
info:
  title: Listrak Segmentation API
  version: v1
  x-logo:
    url: /SMS/Resources/Images/Logo.png
  description: 'Operations tagged Segmentation across 2 of this provider''s published API definitions: listrak-sms-openapi.json, listrak-sms-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/sms
tags:
- name: Segmentation
  description: A Segmentation resource is used to retrieve profile fields.
paths:
  /v1/ShortCode/{senderCodeId}/SegmentationField/{segmentationFieldId}:
    get:
      tags:
      - Segmentation
      summary: Get a Profile Field
      description: Returns the specified profile field.
      operationId: Segmentation_GetPhoneAttribute
      parameters:
      - name: senderCodeId
        in: path
        description: Identifier used to specify the Sender Code.
        required: true
        schema:
          type: integer
          format: int32
      - name: segmentationFieldId
        in: path
        description: Identifier used to locate the profile field.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource_PhoneAttribute'
              example:
                status: 200
                data:
                  segmentationFieldId: 0
                  segmentationFieldName: null
                  dataType: null
                  maxLength: null
                  statusFlag: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the senderCodeId and segmentationFieldId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2: []
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/ShortCode/{senderCodeId}/SegmentationField/{segmentationFieldId}");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => '/'\n]);\n\n$res = $client->request('GET', 'v1/ShortCode/{senderCodeId}/SegmentationField/{segmentationFieldId}',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/sms
  /v1/ShortCode/{senderCodeId}/SegmentationField:
    get:
      tags:
      - Segmentation
      summary: Get all Profile Fields
      description: Returns the collection of profile fields that exist for the company associated with the specified Sender Code.
      operationId: Segmentation_GetPhoneAttributeCollection
      parameters:
      - name: senderCodeId
        in: path
        description: Identifier used to specify the Sender Code.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection_PhoneAttribute'
              example:
                status: 200
                data:
                - segmentationFieldId: 0
                  segmentationFieldName: null
                  dataType: null
                  maxLength: null
                  statusFlag: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the senderCodeId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2: []
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/ShortCode/{senderCodeId}/SegmentationField");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => '/'\n]);\n\n$res = $client->request('GET', 'v1/ShortCode/{senderCodeId}/SegmentationField',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/sms
components:
  schemas:
    Resource_PhoneAttribute:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        data:
          $ref: '#/components/schemas/PhoneAttribute'
          description: Return data.
    Collection_PhoneAttribute:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        data:
          description: Collection of return data from the given call.
          type: array
          items:
            $ref: '#/components/schemas/PhoneAttribute'
    PhoneAttribute:
      description: A Profile Field resource.
      type: object
      properties:
        segmentationFieldId:
          format: int32
          description: Identifier of the profile field.
          type: integer
        segmentationFieldName:
          description: Name of the profile field.
          type: string
        dataType:
          description: Data type of the profile field.  Allowed values are `Text`, `Number`, `Checkbox`, and `Date`.
          type: string
        maxLength:
          format: int32
          description: The maximum character count of the data that can be stored in the profile field.
          type:
          - integer
          - 'null'
        statusFlag:
          description: Identifier of the status of the profile field.
          type: string
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes: {}
x-refined-from:
- listrak-sms-openapi.json
- listrak-sms-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
