openapi: 3.2.0
info:
  title: Listrak Message Activity API
  version: v1
  x-logo:
    url: /Email/Resources/Images/Logo.png
  description: 'Operations tagged MessageActivity across 2 of this provider''s published API definitions: listrak-email-openapi.json, listrak-email-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.listrak.com/email
tags:
- name: MessageActivity
  description: The Message Activity resource allows you to access contact activity for a message.
paths:
  /v1/List/{listId}/Message/{messageId}/Activity:
    get:
      tags:
      - MessageActivity
      summary: Get Message Activity
      description: Returns the collection of activity associated with the specified message. If an email address is provided, returns only the activity associated with that email.
      operationId: MessageActivity_GetMessageActivityCollection
      parameters:
      - name: listId
        in: path
        description: Identifier used to locate the list.
        required: true
        schema:
          type: integer
          format: int32
      - name: messageId
        in: path
        description: Identifier used to locate the message.
        required: true
        schema:
          type: integer
          format: int32
      - name: activityType
        in: query
        description: The type of activity performed by the contact.
        required: false
        schema:
          type: string
      - name: dateType
        in: query
        description: The type of date that's being used to filter the data members. Allowed values are `Send` and `Activity`. The default value is `Send`.
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        description: Value indicating the page of data that's being retrieved. The default value is `Start`.
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: Number of data members to be displayed per page. The default value is `1000` and the maximum value is `5000`.
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date that's being used to filter the data members.
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: End date that's being used to filter the data members.
        required: false
        schema:
          type: string
      - name: emailAddress
        in: query
        description: Email that is being used to filter the message activity.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionPaged_MessageActivity'
              example:
                status: 200
                nextPageCursor: null
                data:
                - abuse: false
                  activityDate: null
                  bounce: false
                  bounceReason: null
                  click: false
                  clickCount: 0
                  emailAddress: null
                  open: false
                  orderTotal: 0.0
                  read: false
                  sendDate: null
                  unsubscribe: false
                  visitDate: null
                  externalContactID: null
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                error: ERROR_UNABLE_TO_LOCATE_RESOURCE
                message: Unable to locate a resource associated with the listId and messageId supplied.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - List
        - Message
        - Report
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/email/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.GetAsync("v1/List/{listId}/Message/{messageId}/Activity");

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/email/'\n]);\n\n$res = $client->request('GET', 'v1/List/{listId}/Message/{messageId}/Activity',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);\n"
    servers:
    - url: https://api.listrak.com/email
components:
  schemas:
    MessageActivity:
      description: A Message Activity resource.
      type: object
      properties:
        abuse:
          description: Whether the message was marked as abuse by the contact.
          type: boolean
        activityDate:
          format: date-time
          description: Date of first activity by the contact.
          type: string
        bounce:
          description: Whether the message bounced for the contact.
          type: boolean
        bounceReason:
          description: Reason why the message bounced.
          type: string
        click:
          description: Whether the message was clicked by the contact.
          type: boolean
        clickCount:
          format: int32
          description: Number of clicks made by the contact.
          type: integer
        emailAddress:
          description: Email address of the contact.
          type: string
        open:
          description: Whether the message was opened by the contact.
          type: boolean
        orderTotal:
          format: double
          description: Order total associated with the message for the contact.
          type: number
        read:
          description: Whether the message was read by the contact.
          type: boolean
        sendDate:
          format: date-time
          description: Send date of the message.
          type: string
        unsubscribe:
          description: Whether the message caused an unsubscribe by the contact.
          type: boolean
        visitDate:
          format: date-time
          description: DEPRECATED as of June 2020
          type: string
        externalContactID:
          description: The external contact ID provided by a 3rd party
          type: string
    CollectionPaged_MessageActivity:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        nextPageCursor:
          description: URI of the next page of data.
          type: string
        data:
          description: Collection of data that exists on this paged view.
          type: array
          items:
            $ref: '#/components/schemas/MessageActivity'
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.listrak.com/OAuth2/Token
          scopes:
            Contact: Contact access
            Event: Event access
            List: List access
            Message: Message access
            Report: Report access
            Segmentation: Segmentation access
x-refined-from:
- listrak-email-openapi.json
- listrak-email-openapi.yml
x-amazon-apigateway-security-policy: TLS_1_0
x-tagGroups:
- name: API Reference
  tags:
  - Events
  - EventConfigurations
