openapi: 3.2.0
info:
  version: v1
  title: Listrak Data Import REST Rating Summary API
  description: '# INTRODUCTION

    Welcome to the Listrak Data Import REST API!'
  x-logo:
    url: /Data/Documentation/Images/Logo.png
servers:
- url: https://api.listrak.com/data
tags:
- name: RatingSummary
  description: The RatingSummary resource is used to import rating summary data.
paths:
  /v1/RatingSummary:
    post:
      tags:
      - RatingSummary
      summary: Start a Rating Summary Import
      description: Starts a new import using the supplied rating summary collection.
      operationId: RatingSummary_PostRatingSummaryCollection
      responses:
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                error: ERROR_INVALID_PARAMETER
                message: An invalid value was supplied for {Parameter}.
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCreated'
              example:
                status: 201
                resourceId: '{ResourceId}'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                error: ERROR_UNAUTHORIZED
                message: Authorization was denied for this request.
      security:
      - OAuth 2:
        - Review
      x-code-samples:
      - lang: C#
        source: 'var client = new HttpClient();


          client.BaseAddress = new Uri("https://api.listrak.com/data/");

          client.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);


          var response = await client.PostAsJsonAsync("v1/RatingSummary", new

          []);

          '
      - lang: PHP
        source: "$client = new \\GuzzleHttp\\Client([\n\t'base_uri' => 'https://api.listrak.com/data/'\n]);\n\n$res = $client->request('POST', 'v1/RatingSummary',  [\n\t'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n\t'body' => $jsonBody\n]);\n"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RatingSummary'
        description: An array of one or more rating summaries to create.
        required: true
components:
  schemas:
    Error:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        error:
          description: Error code indicating what error has occured.
          type: string
        message:
          description: Message describing the status and the error that occurred.
          type: string
    RatingSummary:
      type: object
      properties:
        provider:
          description: Provider name
          type: string
        providerProductID:
          description: Unique identifier used to identify the product being rated
          maxLength: 100
          minLength: 0
          type: string
        ratingSummaries:
          description: Collection of rating summaries
          type: array
          items:
            $ref: '#/components/schemas/RatingSummaryField'
    ResourceCreated:
      type: object
      properties:
        status:
          format: int32
          description: HTTP status code.
          type: integer
        resourceId:
          description: An identifier used to locate a resource.
          type: string
    RatingSummaryField:
      required:
      - providerRatingSummaryID
      - rating
      type: object
      properties:
        count:
          format: int32
          description: Rating summary count
          type: integer
        deleted:
          description: Indicates if the rating summary has been deleted
          type: boolean
        displayType:
          description: Rating summary display type
          type: string
        providerRatingSummaryID:
          description: Rating summary identifier used by review provider
          type: string
        rating:
          format: double
          description: Rating summary value
          type: number
        ratingMax:
          format: double
          description: Maximum value for rating summary
          type: number
        ratingMin:
          format: double
          description: Minimum value for rating summary
          type: number
        type:
          description: Rating summary type
          type: string
x-tagGroups:
- name: API Reference
  tags:
  - Customer
  - Order
  - Product
  - RatingSummary
  - Review
