{
  "openapi": "3.1.1",
  "info": {
    "title": "Listrak Media REST API",
    "description": "# Introduction\nThe Listrak Media REST API lets you manage a company's media library: the directories and\nimage files used across Listrak products, plus the fonts available for use alongside them.\n\n# Versioning\nThe API version is denoted in the URI. This API's base URI is:\n\n`https://api.listrak.com/media/v1`\n\n<br />\n\nThe API version will be incremented if breaking changes are introduced. Breaking changes may\ninclude:\n- Addition of required headers, parameters, or model fields to a current route\n- Alterations that would result in currently valid requests failing, or performing unexpectedly\n\n<br />\n\nChanges that are not considered breaking may include:\n- Addition of new model fields\n- Addition of new routes\n- Addition of new response headers\n- Any alteration to a route that is marked as <span class=\"inDev\">In Development</span>\n\n# Usage\n## External Libraries\nThe C# code examples featured on this site require the following packages:\n- <a href=\"https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/\">Microsoft.AspNet.WebApi.Client</a>\n- <a href=\"https://www.nuget.org/packages/Newtonsoft.Json/\">Newtonsoft.Json</a>\n\nThe Php code examples require the following package:\n- <a href=\"http://docs.guzzlephp.org/en/stable/#\">Guzzle 6</a>\n\n# Feedback\nWe are actively seeking feedback in the following areas:\n- Code samples\n- Response examples\n- Resource and field descriptions\n\n<br />\n\nPlease provide your feedback to us at restapifeedback@listrak.com.\n\n# Integration Setup\nTo enable API access, **you must create an _Integration_** on the _Integrations_ page. In the\nListrak application left menu, go to: Integrations &rarr; Integration Management.\n\nPlease specify integration type `Media` for your integration.\n\nMake sure to securely store a copy of your _Client ID_ and _Client Secret_. These values will\nbe needed to authenticate with the API. For your security, the _Client Secret_ cannot be\nretrieved if it is lost.\n\n# Status Codes\n| Status Code | Status | Description |\n|-|-|-|\n| 200 | OK | The request succeeded. |\n| 201 | Created | A new resource has been created. |\n| 400 | Bad Request | Your request is malformed or invalid. |\n| 401 | Unauthorized | Authentication is required. |\n| 403 | Forbidden | You do not have permission to access this resource. |\n| 404 | Not Found | The resource does not exist. |\n| 405 | Method Not Allowed | The route does not support the requested method. |\n| 409 | Conflict | The resource conflicts with an existing resource. |\n| 415 | Unsupported Media Type | Please use a `Content-Type` of `application/json`. |\n| 500 | Internal Server Error | An unexpected error occurred. Our development team has been notified. |\n\n# Error Codes\nError responses use a shared shape:\n\n```json\n{ \"status\": 401, \"error\": \"ERROR_UNAUTHORIZED\", \"message\": \"Authorization was denied for this request.\" }\n```\n\n| Status | Error Code | When |\n|-|-|-|\n| 400 | `ERROR_INVALID_PARAMETER` | Request validation failed (e.g. missing file, bad input). |\n| 401 | `ERROR_UNAUTHORIZED` | Missing or invalid bearer token. |\n| 403 | `ERROR_FORBIDDEN` | Token lacks the `Media` role or the `CompanyID`/`MasterAdminID` claims. |\n| 404 | `ERROR_NOT_FOUND` | Target resource does not exist. |\n| 409 | `ERROR_CONFLICT` | The resource conflicts with an existing resource. |\n| 500 | `ERROR_INTERNAL` | Unhandled server error. |\n\n# Parameters\n## Route Parameters\nResource identifiers are specified in the route. For example, in the route\n`/Resource/{resourceId}`, `resourceId` is a route parameter. In this example, if you wish to\ninteract with Resource #123, its route would be `/Resource/123`.\n\n## Query Parameters\nSome routes support additional query parameters; for example, some resources support query\nparameters relating to paging. Supported query parameters are described in their respective\ndocumentation areas.\n\n## Request Body\nRequest bodies are required for most `POST` and `PUT` requests. Please use a `Content-Type` of\n`application/json` and provide a JSON object in your request body.\n\n# Authentication\nAuthentication is accomplished using OAuth 2.0. After successful authentication, your token\nshould be included with every request using the _Bearer_ scheme; specifically, you should set\nyour `Authorization` header value to `Bearer (Your token value)` in each request.\n\nYou may request a token by making a `POST` request to our token endpoint at\n`https://auth.listrak.com/OAuth2/Token`. The request should have a `Content-Type` of\n`x-www-form-urlencoded`, and the request body should include a `grant_type` of\n`client_credentials`, your `client_id`, and your `client_secret`. Here is an example of a\nvalid request:\n\n```\nPOST /OAuth2/Token\nContent-Type: application/x-www-form-urlencoded\n\ngrant_type: client_credentials\nclient_id: (Your client ID)\nclient_secret: (Your client secret)\n```\n\nFor your security and convenience, you may pause and unpause your API access on our\n_Integration Manager_ page. All requests will be rejected while your API access is paused,\nincluding requests to issue tokens.",
    "version": "1.0.0",
    "x-logo": {
      "url": "images/logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.listrak.com/media"
    }
  ],
  "paths": {
    "/v1/directories": {
      "get": {
        "tags": [
          "Directories"
        ],
        "summary": "List the top level directories",
        "operationId": "listTopLevelDirectories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectorySummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.GetAsync(\"v1/directories\");"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('GET', 'v1/directories', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);"
          }
        ]
      }
    },
    "/v1/directories/{directoryId}": {
      "get": {
        "tags": [
          "Directories"
        ],
        "summary": "List subdirectories and files",
        "operationId": "listDirectoryContents",
        "parameters": [
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "subdirectoriesPageNumber",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "subdirectoriesPageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "filesPageNumber",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "filesPageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryContentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "error": "ERROR_INVALID_PARAMETER",
                  "message": "The request is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "error": "ERROR_NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.GetAsync(\"v1/directories/{directoryId}\");"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('GET', 'v1/directories/{directoryId}', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);"
          }
        ]
      },
      "post": {
        "tags": [
          "Directories"
        ],
        "summary": "Create a directory",
        "operationId": "createDirectory",
        "parameters": [
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "error": "ERROR_INVALID_PARAMETER",
                  "message": "The request is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "error": "ERROR_NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 409,
                  "error": "ERROR_CONFLICT",
                  "message": "The resource conflicts with an existing resource."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.PostAsJsonAsync(\"v1/directories/{directoryId}\", new\n    {\n        Name = null\n    });"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('POST', 'v1/directories/{directoryId}', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n    'json' => $jsonBody\n]);"
          }
        ]
      },
      "put": {
        "tags": [
          "Directories"
        ],
        "summary": "Update the directory name or move it to a different directory",
        "operationId": "updateDirectory",
        "parameters": [
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDirectoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "error": "ERROR_INVALID_PARAMETER",
                  "message": "The request is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "error": "ERROR_NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 409,
                  "error": "ERROR_CONFLICT",
                  "message": "The resource conflicts with an existing resource."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.PutAsJsonAsync(\"v1/directories/{directoryId}\", new\n    {\n        Name = null,\n        NewParentId = null\n    });"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('PUT', 'v1/directories/{directoryId}', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n    'json' => $jsonBody\n]);"
          }
        ]
      },
      "delete": {
        "tags": [
          "Directories"
        ],
        "summary": "Delete the directory",
        "operationId": "deleteDirectory",
        "parameters": [
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "error": "ERROR_NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.DeleteAsync(\"v1/directories/{directoryId}\");"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('DELETE', 'v1/directories/{directoryId}', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);"
          }
        ]
      }
    },
    "/v1/directories/{directoryId}/files": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Create a file",
        "operationId": "createFile",
        "parameters": [
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "contents",
                  "name"
                ],
                "type": "object",
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "contents": {
                        "$ref": "#/components/schemas/IFormFile"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "error": "ERROR_INVALID_PARAMETER",
                  "message": "The request is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "error": "ERROR_NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 409,
                  "error": "ERROR_CONFLICT",
                  "message": "The resource conflicts with an existing resource."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.PostAsJsonAsync(\"v1/directories/{directoryId}/files\", );"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('POST', 'v1/directories/{directoryId}/files', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);"
          }
        ]
      }
    },
    "/v1/directories/{directoryId}/files/{fileId}": {
      "put": {
        "tags": [
          "Files"
        ],
        "summary": "Update the file name or move it to a different directory",
        "operationId": "updateFile",
        "parameters": [
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "error": "ERROR_INVALID_PARAMETER",
                  "message": "The request is invalid."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "error": "ERROR_NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 409,
                  "error": "ERROR_CONFLICT",
                  "message": "The resource conflicts with an existing resource."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.PutAsJsonAsync(\"v1/directories/{directoryId}/files/{fileId}\", new\n    {\n        Name = null,\n        NewDirectoryId = null\n    });"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('PUT', 'v1/directories/{directoryId}/files/{fileId}', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken],\n    'json' => $jsonBody\n]);"
          }
        ]
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete the file",
        "operationId": "deleteFile",
        "parameters": [
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "error": "ERROR_NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.DeleteAsync(\"v1/directories/{directoryId}/files/{fileId}\");"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('DELETE', 'v1/directories/{directoryId}/files/{fileId}', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);"
          }
        ]
      }
    },
    "/v1/fonts": {
      "get": {
        "tags": [
          "Fonts"
        ],
        "summary": "List fonts",
        "description": "Returns all available fonts.",
        "operationId": "getFonts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FontResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "error": "ERROR_UNAUTHORIZED",
                  "message": "Authorization was denied for this request."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "error": "ERROR_FORBIDDEN",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "ERROR_INTERNAL",
                  "message": "An unexpected error occurred."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "C#",
            "source": "var client = new HttpClient();\n\nclient.BaseAddress = new Uri(\"https://api.listrak.com/media/\");\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Bearer \" + token);\n\nvar response = await client.GetAsync(\"v1/fonts\");"
          },
          {
            "lang": "PHP",
            "source": "$client = new \\GuzzleHttp\\Client([\n    'base_uri' => 'https://api.listrak.com/media/'\n]);\n\n$res = $client->request('GET', 'v1/fonts', [\n    'headers' => ['Authorization' => 'Bearer ' . $accessToken]\n]);"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateDirectoryRequest": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "example": {
          "name": "Product Photos"
        }
      },
      "Directory": {
        "required": [
          "id",
          "parentId",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "parentId": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "id": 42,
          "parentId": 7,
          "name": "Product Photos"
        }
      },
      "DirectoryContents": {
        "required": [
          "subdirectories",
          "files",
          "subdirectoriesPage",
          "filesPage"
        ],
        "type": "object",
        "properties": {
          "subdirectories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Directory"
            }
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/File"
            }
          },
          "subdirectoriesPage": {
            "$ref": "#/components/schemas/Page"
          },
          "filesPage": {
            "$ref": "#/components/schemas/Page"
          }
        }
      },
      "DirectoryContentsResponse": {
        "required": [
          "status",
          "data"
        ],
        "type": "object",
        "properties": {
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "data": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/DirectoryContents"
              }
            ]
          }
        }
      },
      "DirectoryResponse": {
        "required": [
          "status",
          "data"
        ],
        "type": "object",
        "properties": {
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "data": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Directory"
              }
            ]
          }
        }
      },
      "DirectorySummary": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "id": 1,
          "name": "My Company"
        }
      },
      "DirectorySummaryResponse": {
        "required": [
          "status",
          "data"
        ],
        "type": "object",
        "properties": {
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "data": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/DirectorySummary"
            }
          }
        }
      },
      "ErrorResponse": {
        "required": [
          "status",
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "File": {
        "required": [
          "id",
          "directoryId",
          "name",
          "publicUrl",
          "size",
          "uploadDate"
        ],
        "type": "object",
        "properties": {
          "id": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "directoryId": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "publicUrl": {
            "type": "string"
          },
          "size": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          },
          "uploadDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "example": {
          "id": 501,
          "directoryId": 42,
          "name": "banner.png",
          "publicUrl": "https://mediacdn.listrak.com/12345/banner.png",
          "size": 204800,
          "uploadDate": "2026-06-01T14:32:00Z"
        }
      },
      "FileResponse": {
        "required": [
          "status",
          "data"
        ],
        "type": "object",
        "properties": {
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "data": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/File"
              }
            ]
          }
        }
      },
      "Font": {
        "required": [
          "name",
          "value",
          "url",
          "source",
          "projectID",
          "regularWeight",
          "boldWeight",
          "isItalic",
          "isSystemFont"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "projectID": {
            "type": [
              "null",
              "string"
            ]
          },
          "regularWeight": {
            "type": "string"
          },
          "boldWeight": {
            "type": "string"
          },
          "isItalic": {
            "type": "boolean"
          },
          "isSystemFont": {
            "type": "boolean"
          }
        },
        "example": {
          "name": "Arial",
          "value": "arial, sans-serif",
          "url": "https://fonts.listrak.com/arial.woff2",
          "source": "System",
          "projectID": null,
          "regularWeight": "400",
          "boldWeight": "700",
          "isItalic": false,
          "isSystemFont": true
        }
      },
      "FontResponse": {
        "required": [
          "status",
          "data"
        ],
        "type": "object",
        "properties": {
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "data": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/Font"
            }
          }
        }
      },
      "IFormFile": {
        "type": "string",
        "format": "binary"
      },
      "Page": {
        "required": [
          "pageNumber",
          "pageSize",
          "totalCount"
        ],
        "type": "object",
        "properties": {
          "pageNumber": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "pageSize": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "totalCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          }
        },
        "example": {
          "pageNumber": 1,
          "pageSize": 100,
          "totalCount": 12
        }
      },
      "SuccessResponse": {
        "required": [
          "status",
          "data"
        ],
        "type": "object",
        "properties": {
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "data": { }
        }
      },
      "UpdateDirectoryRequest": {
        "required": [
          "name",
          "newParentId"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "newParentId": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          }
        },
        "example": {
          "name": "Updated Name",
          "newParentId": 7
        }
      },
      "UpdateFileRequest": {
        "required": [
          "name",
          "newDirectoryId"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "newDirectoryId": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          }
        },
        "example": {
          "name": "new-name.png",
          "newDirectoryId": 7
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Pass the Listrak auth token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "Listrak encrypted token"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ],
  "tags": [
    {
      "name": "Directories"
    },
    {
      "name": "Files"
    },
    {
      "name": "Fonts"
    }
  ]
}